doctype html
html
    head
        title pageTitle
    body
        h1 #{services.length} found
        button(onclick="location.reload()") 更新
        button(onclick="location.href=\"discover?refresh=1\"") 再検出
        p 更新を押すと、検出されていなかったリグが出てくるかもしれません。
        p 再検出を押すと、今まで検出されたリグの情報を消して、もう一度検出しなおします。
        h1 リグを選択してください
        form(action="./hostadm")
            select(name="addr")
                each service in services
                    - var json = JSON.stringify({addrs: service.addresses,port: service.port, validaddr: service.validaddr})
                    option(value=service.validaddr) #{service.validaddr}[#{service.mac}]
            input(type="submit")
        p IPv4アドレスに続く[]内の数値はMACアドレスです。
        p MACアドレスはEthernetアダプタ固有のアドレスでIPアドレスのように変動しません。
        p リグを識別する際はMACアドレスを使うと良いでしょう。