doctype html
html
    head
        title= addr
        link(rel="stylesheet", href="/xterm/xterm.css")
        style(type="text/css").
            #addr, #port, #gputweak {
                display: none
            }
        script(src="/xterm/xterm.js")
        script(src="/socket.io/socket.io.js")
        script(src="/js/hostadm.js")
    body
        a(href="/discover") TOP
        p#addr= addr
        p#port= port
        button.command(command="\x03") ^C
        #switcherprepare
            h1 switcherの利用前準備
            p ボタンを押したら一番下のターミナル画面を見て、実行が終わるのを待ってください
            form(onsubmit="excavator();return false;")
                span excavatorのURL:
                input#excavatorurl(type="text",size=100,value="https://github.com/nicehash/excavator/releases/download/v1.4.4a/excavator_1.4.4a_amd64.deb")
                input(type="submit",value="excavatorをインストール（押す前にNicehashのライセンス条項を読み、同意してください）")
            button.command(command="curl -L https://github.com/ethereum-mining/ethminer/releases/download/v0.14.0.dev1/ethminer-0.14.0.dev1-Linux.tar.gz > ethminer.tar.gz; tar xvf ethminer.tar.gz\n") ethminerをインストール
            button.command(command="curl -L https://github.com/akimasa/DisklessMinerAdmin/releases/download/v0.0.4/ccminer.tar.xz | tar xvJ\n") ccminerをインストール
            button(onclick="installCheck()") 実行前確認
        #switcher
            h1 switcher
            form(onsubmit="startswitcher();return false;")
                div
                    span BTC wallet
                    input#wallet(type="text",value="")
                input(type="submit",value="マイニング開始")
            button.command(command="journalctl -af -o cat -t switcher\n") ログ確認（^Cで終了）
        #eth
            h1 ETH mining
            button.command(command="curl -L https://github.com/ethereum-mining/ethminer/releases/download/v0.14.0.dev1/ethminer-0.14.0.dev1-Linux.tar.gz > ethminer.tar.gz; tar xvf ethminer.tar.gz\n") ethminerをダウンロードして展開
            form(onsubmit="starteth();return false;")
                div
                    span ./bin/ethminer
                    input#ethopts(type="text",size=100,value="--farm-recheck 2000 -U -S POOL:PORT -O 0xWALLET.WORKER/EMAIL")
                input(type="submit",value="マイニング開始")
            button.command(command="journalctl -af -o cat -t gpuminer\n") ログ確認（^Cで終了）
        #xmr
            h1 XMR mining
            button.command(command="curl -L https://github.com/akimasa/DisklessMinerAdmin/releases/download/v0.0.4/xmrstak.tar.xz | tar xJ\n") xmrstakを展開
            form(onsubmit="setxmr();return false;")
                div
                    input#xmrcurrency(value="monero")
                div
                    textarea#xmrpoolconf(cols=100,rows=10) {"pool_address" : "POOL:PORT", "wallet_address" : "ADDRESS.WORKER/EMAIL", "pool_password" : "", "use_nicehash" : false, "use_tls" : false, "tls_fingerprint" : "", "pool_weight" : 1 },
                input(type="submit",value="設定送信")
            div
                button.command(command="sysctl -w vm.nr_hugepages=128; ./bin/xmr-stak\n") テスト実行
                button.command(command="\x03") テスト終了
            div
            button.command(command="sysctl -w vm.nr_hugepages=128; nohup systemd-cat -t xmr-stak ./bin/xmr-stak &\n") マイニング開始
        h1 gpu調整
        button(onclick="getgpu()") gpu情報を取得
        #gputweak
            #gpu
            form(onsubmit="setpower();return false;")
                input#powerlimit(type="text")
                input(type="submit",value="Power Limit変更")
            button(onclick="initmemoffset()") GPUメモリ周波数変更準備
            form(onsubmit="setmemoffset();return false;")
                input#memoffset(type="text")
                input(type="submit",value="メモリ周波数変更")
        h1 ターミナル
        #terminal
        